.popup__form-name {
  margin: 34px 64px 0 36px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media (max-width: 559px) {
  .popup__form-name {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 0;
  }
}
