.profile__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  transition: 0.5s;
  box-sizing: border-box;
}

@media (max-width: 919px) {
  .profile__add-button {
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .profile__add-button {
    width: calc(100% - 38px);
    margin: 36px auto 0;
  }
}
