.popup__close {
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  background-color: transparent;
  background-position-x: 50%;
  background-position-y: center;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background-image: url(../../../images/Close\ Icon.svg);
  transition: 0.5s;
}

@media (max-width: 559px) {
  .popup__close {
    width: 26px;
    height: 26px;
    right: 4px;
    top: -36px;
  }
}
